body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

#name-color {
    color: orange;
}

h1 {
    font-size: 50px;
}

p {
    font-family: 'Ibarra Real Nova', serif;
    font-size: 20px;
}

.flexible-section {
    display: flex;
    margin-bottom: 50px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 60%;
}

.facebook-link {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange, tomato);
}

.first-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.practice {
    width: 60%;
}

.abcd {
    border-left: solid 4px orange;
    padding-left: 20px;
    padding-right: 350px;
    margin-left: 100px;
}